@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}
/* --------------------------------------------- */
/* --------------------------------------------- */
/* ------------------- NAV --------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
nav .three-dot {
  display: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5.4375rem 7.5rem 2.6125rem;
}
nav > ul {
  display: flex;
  justify-content: space-between;
  gap: 3.1375rem;
}
nav li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
nav h2 {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* --------------------------------------------- */
/* --------------------------------------------- */
/* ----------------- BANNER -------------------- */
/* --------------------------------------------- */
/* --------------------------------------------- */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("../resources/images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: 85% 65%;
  background-size: contain;
}
.banner-content {
  /* margin-top: 5.9375rem; */
  margin-left: 7.5rem;
  margin-right: 8.3125rem;
}
.banner-img {
  margin-top: 1.875rem;
  margin-right: 10.3125rem;
}
.banner-content h1 {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.375rem; /* 134.615% */
}
.banner-content p {
  margin-top: 1rem;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  height: 3.80625rem;
}
.banner button {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  padding: 0.625rem 1.5rem;
  gap: 0.5rem;
  border-radius: 2.5625rem;
  background: #e02c6d;
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 0;
}
/* --------------------------------------------- */
/* --------------------------------------------- */
/* -------------- SPONSORS ------------------ */
/* --------------------------------------------- */
/* --------------------------------------------- */
.sponsor {
  margin: 4.3125rem 10.3125rem 6.25rem;
}
.sponsor div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 6.75rem;
}
.sponsor hr {
  border: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(192, 204, 218, 0.1) 0%,
    rgba(192, 204, 218, 0.6) 50.38%,
    rgba(192, 204, 218, 0.1) 100%
  );
}
/* --------------------------------------------- */
/* --------------------------------------------- */
/* -------------- Collection ------------------ */
/* --------------------------------------------- */
/* --------------------------------------------- */
.collection {
  margin: 6.25rem 12.25rem;
}
.collection > h2 {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.375rem;
  text-align: center;
  margin-bottom: 1.875rem;
}
.collection-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}
.cards {
  padding: 1.0625rem 0.8rem;
  border-radius: 0.3125rem;
  background: #fff;
  box-shadow: 0rem 0rem 2.5rem 0rem rgba(0, 0, 0, 0.15);
}
.cards img {
  width: 18.75rem;
}
.cards h2 {
  color: #18191f;
  font-family: Poppins;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5rem;
  margin-top: 1rem;
}
.cards h3 {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 0.375rem;
}
.cards div p {
  color: #5e6366;
  font-family: Roboto;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.375rem; /* 157.143% */
  letter-spacing: 0.00625rem;
}
.cards div img {
  width: 4%;
}
.cards div .half-star {
  width: 4.5%;
}
.cards > div {
  display: flex;
  align-items: center;
}
.cards > p {
  color: #787885;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.01575rem;
  height: 3.75rem;
  width: 12rem;
}
.collection-see-more {
  color: rgba(224, 44, 109, 0.87);
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  gap: 0.5rem;
  display: flex;
  justify-content: end;
  margin-top: 3.125rem;
}
/* --------------------------------------------- */
/* --------------------------------------------- */
/* ----------------- Featured ------------------ */
/* --------------------------------------------- */
/* --------------------------------------------- */
.featured {
  margin: 6.25rem 10.3125rem;
  display: flex;
  justify-content: space-between;
  gap: 5.7rem;
}
.featured button {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  padding: 0.625rem 1.5rem;
  gap: 0.5rem;
  background: #e02c6d;
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 0;
}
.featured h2 {
  color: #0a0826;
  font-family: Poppins;
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.75rem;
  margin-top: 1.4375rem;
}
.featured p {
  margin-top: 1rem;
  color: #6c6c6c;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  width: 31.3125rem;
}
/* --------------------------------------------- */
/* --------------------------------------------- */
/* ----------------- Footer ------------------ */
/* --------------------------------------------- */
/* --------------------------------------------- */
footer {
  background: #0a0826;
  padding: 3.125rem 36.8125rem;
  text-align: center;
}
footer h2 {
  color: #fff;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0.1875rem;
}
footer p {
  color: #d9dbe1;
  font-family: Manrope;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 0.1875rem;
}
.footer-logo {
  margin-top: 1.0625rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
/* --------------------------------------------- */
/* --------------------------------------------- */
/* -------------- MEDIA QUERY ------------------ */
/* --------------------------------------------- */
/* --------------------------------------------- */
@media screen and (max-width: 576px) {
  /* --------------------------------------------- */
  /* --------------------------------------------- */
  /* ------------------- NAV --------------------- */
  /* --------------------------------------------- */
  /* --------------------------------------------- */
  nav li:nth-child(1),
  li:nth-child(2),
  li:nth-child(3),
  li:nth-child(4),
  li:nth-child(5) {
    display: none;
  }
  nav .three-dot {
    display: inline;
  }
  nav {
    margin: 2.1875rem 1rem 1.375rem;
    gap: 3rem;
  }
  nav li a {
    font-size: 1rem;
  }
  nav h2 {
    font-size: 1rem;
  }
  /* --------------------------------------------- */
  /* --------------------------------------------- */
  /* ----------------- BANNER -------------------- */
  /* --------------------------------------------- */
  /* --------------------------------------------- */
  .banner {
    flex-direction: column-reverse;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 76.38%;
    text-align: center;
  }
  .banner-content {
    /* margin-top: 5.9375rem; */
    margin-left: 0rem;
    margin-right: 0rem;
  }
  .banner-img {
    margin: 3.1875rem 0rem 3rem;
  }
  .banner-img img {
    width: 56.1%;
  }
  .banner-content h1 {
    font-size: 1.75rem;
    line-height: normal;
  }
  .banner-content p {
    margin-top: 1rem;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: normal;
    height: 4.0625rem;
    padding: 0 1.25rem;
  }
  .banner button {
    font-weight: 500;
  }
  /* --------------------------------------------- */
  /* --------------------------------------------- */
  /* -------------- SPONSORS ------------------ */
  /* --------------------------------------------- */
  /* --------------------------------------------- */
  .sponsor {
    margin: 3rem 2.625rem 0rem;
  }
  .sponsor div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .sponsor div img {
    width: 16%;
  }
  .sponsor hr {
    display: none;
  }
  /* --------------------------------------------- */
  /* --------------------------------------------- */
  /* -------------- Collection ------------------ */
  /* --------------------------------------------- */
  /* --------------------------------------------- */
  .collection {
    margin: 3.375rem 1rem;
  }
  .collection > h2 {
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.25rem;
  }
  .collection-grid {
    grid-template-columns: repeat(1, 100%);
    gap: 1.875rem;
  }
  .cards img {
    width: 100%;
  }
  .cards h2 {
    font-weight: 700;
    line-height: 2.5rem;
    margin-top: 1rem;
  }
  .cards h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 150%;
    margin-top: 0.375rem;
  }
  .cards > div {
    margin-top: 0.32rem;
    display: flex;
  }
  .cards div p {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.375rem; /* 157.143% */
    letter-spacing: 0.00625rem;
  }

  .cards > p {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    letter-spacing: 0.01575rem;
    height: 2.5625rem;
    width: 12.25rem;
    margin-top: 0.8125rem;
  }
  .collection-see-more {
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: end;
    margin-top: 2rem;
  }
  /* --------------------------------------------- */
  /* --------------------------------------------- */
  /* ----------------- Featured ------------------ */
  /* --------------------------------------------- */
  /* --------------------------------------------- */
  .featured {
    margin: 3.125rem 1.8125rem;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 1.875rem;
  }
  .featured button {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    padding: 0.625rem 1.5rem;
    gap: 0.5rem;
    background: #e02c6d;
    color: #fff;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0;
  }
  .featured h2 {
    font-size: 1.5rem;
    line-height: normal;
    margin-top: 0;
    text-align: center;
  }
  .featured p {
    width: 100%;
    text-align: center;
  }
  .featured-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .featured-img img {
    width: 100%;
  }
  /* --------------------------------------------- */
  /* --------------------------------------------- */
  /* ----------------- Footer ------------------ */
  /* --------------------------------------------- */
  /* --------------------------------------------- */
  footer {
    background: #0a0826;
    padding: 3.125rem 4.25rem;
    text-align: center;
  }
  footer h2 {
    font-size: 1rem;
    margin-bottom: 0.1875rem;
  }
  footer p {
    font-size: 0.75rem;
    margin-bottom: 0.3125rem;
  }
  .footer-logo {
    margin-top: 1.0625rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
